# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
/build/
ios/.symlinks/
ios/Pods/
ios/Flutter/ephemeral/
ios/Flutter/Flutter.podspec

# Android
/android/key.properties
/android/*.keystore
/android/gradlew
/android/gradle/
/android/.gradle/
/android/app/build/
/android/build/

# iOS
/ios/Podfile.lock
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Runner/GeneratedPluginRegistrant.swift

# IDEs
.idea/
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
nbproject/

# Ignore core business logic
lib/core/
